body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #232323;
  color: #ccc;
}

.logo {
  letter-spacing: 3px;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.navlink {
  list-style: none;
  margin: 0;
}

.navlink a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.2em;
}

.hamburger {
  font-size: 1.2em;
  display: none;
}

@media screen and (max-width: 678px) {
  .hamburger {
    display: block;
  }
  .nav {
    margin: 0;
    background: #343434;
    position: absolute;
    top: 70px;
    width: 50%;
    height: calc(100% - 70px);
    flex-direction: column;
    justify-content: start;
    padding: 0;
    transition: all 400ms;
    display: none;
  }
  .navlink {
    text-align: center;
    padding: 1rem 1rem;
  }

  .nav-active {
    right: 0;
    display: flex;
  }

  form input {
    padding: .3rem 0;
    border: 1px solid black;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 1rem 2rem;
  justify-content: space-around;
}

.card-item {
  padding: 0 1.5rem 1.5rem 1.5rem;
  text-align: left;
  border: .4rem outset #cccccc;
  box-shadow: 0.2rem 0.2rem #cccccc;
  border-radius: 2rem;
  margin: 1rem;
  max-width: 12rem;
}

.card-logo {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-around;
}

.card-logo img {
  border-radius: 5rem;
}

form label {
  display: grid;
  padding: .4rem 0;
}

button {
  background-color: #cccccc;
  padding: 0.5rem 1rem;
  border-radius: .5rem;
  color: black;
  font-weight: 600;
  font-size: medium;
  margin: 0.2rem;
}
